HELP.md  # Remove this line if you want to track HELP.md
target/
build/

### Maven Wrapper ###
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OS-Specific Files ###
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db

### Node.js ###
node_modules/

### Docker ###
*.dockerfile
docker-compose.yml
/docker/

### Logs ###
*.log
